# phpstorm
.idea

# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 数据库本地化配置
server/local_db.php

# 本地化零时文件
server/tmp/*
